# Amazon Data Analysis

## Table of contents<a name=top></a>
1. [Data description](#des)<br>
1. [Importing Libraries](#lib)<br>
1. [Load datasets](#load)<br>
1. [Pre-processing](#pre)<br>

## Data description<a name=des></a>
This project is on the analysis of Amazon product sale in different zones in the US. More details can be found [here](https://www.kaggle.com/datasets/anandshaw2001/amazon-sales-dataset). We aim to do different analysis on this data, such as date of orders, to see trends in sales and profit over time, customer and product analysis, and so on. The dataset has 3203 rows with no missing values.

## Importing Libraries<a name=lib></a>

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Load datasets<a name=load></a>

In [3]:
amazon_data=pd.read_csv(r'E:\My projects\amazon\Amazon.csv')
amazon_data.head(2)

,Order ID,Order Date,Ship Date,EmailID,Geography,Category,Product Name,Sales,Quantity,Profit
0,CA-2013-138688,6/13/2013,6/17/2013,DarrinVanHuff@gmail.com,"United States,Los Angeles,California",Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2.0,6.87
1,CA-2011-115812,6/9/2011,6/14/2011,BrosinaHoffman@gmail.com,"United States,Los Angeles,California",Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.86,7.0,14.17

In [4]:
amazon_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3203 entries, 0 to 3202
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      3203 non-null   object
 1   Order Date    3203 non-null   object
 2   Ship Date     3203 non-null   object
 3   EmailID       3203 non-null   object
 4   Geography     3203 non-null   object
 5   Category      3203 non-null   object
 6   Product Name  3203 non-null   object
 7   Sales         3203 non-null   float64
 8   Quantity      3203 non-null   float64
 9   Profit        3203 non-null   float64
dtypes: float64(3), object(7)
memory usage: 250.4+ KB

## Pre-processing<a name=pre></a>
As we see, there are no missing values in the data frame. We start by omitting unnecessary columns, `Order ID` and `EmailID`. The date-time columns are also saved as objects. So we should first convert their types to `datetime`.

In [5]:
amazon_data.drop(['Order ID','EmailID'], axis=1,inplace=True)
amazon_data.head(2)

,Order Date,Ship Date,Geography,Category,Product Name,Sales,Quantity,Profit
0,6/13/2013,6/17/2013,"United States,Los Angeles,California",Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2.0,6.87
1,6/9/2011,6/14/2011,"United States,Los Angeles,California",Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.86,7.0,14.17

In [7]:
amazon_data['Order Date']=pd.to_datetime(amazon_data['Order Date'])
amazon_data['Ship Date']=pd.to_datetime(amazon_data['Ship Date'])
amazon_data.head(2)

,Order Date,Ship Date,Geography,Category,Product Name,Sales,Quantity,Profit
0,2013-06-13,2013-06-17,"United States,Los Angeles,California",Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2.0,6.87
1,2011-06-09,2011-06-14,"United States,Los Angeles,California",Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.86,7.0,14.17

In [9]:
amazon_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3203 entries, 0 to 3202
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order Date    3203 non-null   datetime64[ns]
 1   Ship Date     3203 non-null   datetime64[ns]
 2   Geography     3203 non-null   object
 3   Category      3203 non-null   object
 4   Product Name  3203 non-null   object
 5   Sales         3203 non-null   float64
 6   Quantity      3203 non-null   float64
 7   Profit        3203 non-null   float64
dtypes: datetime64[ns](2), float64(3), object(3)
memory usage: 200.3+ KB